.main-title {
  font-size: 40px;
}
.main-form {
  width: 30%;
  height: 100px;
}
.button-wrapper {
  margin-left: 26%;
}
.submit-button {
  color: blue;
}

.main-form {
  width: 50%;
  font-size: 100%;
}
